<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div class="centered-content" th:fragment="content">
  <h1 class="external">Добавить роль</h1>

  <div class="form gray-bg">
    <div class="section">
      <h2>Поиск пользователей</h2>
      <div class="input">
        <label for="user-name">Введите ФИО пользователя</label>
        <input type="text" name="user-name" id="user-name" placeholder="Например, Иванов Иван Кузьмич">
      </div>
    </div>
  </div>
</div>
</body>
</html>